*{
    box-sizing: border-box;
}
body{
    background-color: #b8c6db;
    background-image: linear-gradient(140deg,#EADEDB 10%,bisque 40%, rgba(234, 130, 92, 0.877) 75%);
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    /* color: bisque; */
} 

/* #watsim{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: fixed; 
    left :0; right: 0; top: 0; bottom:0;
    z-index: -1;} */
.quiz-container{
    background-color: #fff;
    border-radius: 10px;
    /* box-shadow: 0 0 10px 2px rgba(100,100, 100, 0.1); */
    box-shadow: 0 0 4px 4px coral;
    width: 600px;
    overflow: hidden;
}
.quiz-header{
    padding: 2rem;
}
h2{
    padding: 1rem;
    text-align: center;
    margin: 0;
}
ul{
    list-style-type: none;
    padding: 0;
}
ul li{
    font-size: 1.2rem;
    margin: 1rem 0;
    padding: 5px;
    
}
ul li :hover{
    font-size: 1.3rem;
    background-color:bisque;
    

}
ul li label{
    cursor: pointer;
    transition: 0.5s;
}
button{
    background-color: rgb(247, 88, 30) ;
    color: #fff;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.3rem;

}
button:hover{
    background-color:coral ;
}
button:focus{
    outline: none;
    background-color: #44b927;
}
@media (max-width:480px){
h2{
    padding: 1rem;
    text-align: center;
    margin: 0;
    font-size:large;
}
ul li{
    font-size: 0.9rem;
    margin: 1rem 0;
}
ul li :hover{
    font-size: 1rem;
    background-color:bisque;
}

}

/* this new Style */
#letGo{
    width: 600px;
    height: 500px;
    padding: 35px;
    box-shadow: 0 0 4px 4px coral;
    background-image: url(../img/book.gif);
    background-size: 600px 500px;
    border-radius: 60px;
}
#finish{
    padding-bottom: 30px;
    padding-top: 77px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-style: italic;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}
#st{
    margin: 100px auto;
    border-radius: 20px;
}