* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url();
}

#welcome {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    transition: 0.5s ease;
}

#welcome:hover {
    color: orangered;
    transform: scale(1);
}

#paragraph {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 800
}

.info-div .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.Stylebtn {
    margin: 10px;
    margin-top: 30px;
    padding: 5px 25px;
    font-size: 15px;
    font-weight: 400;
    color: white;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 0 5px orangered;
    cursor: pointer;
    transition: 0.7s ease;
}

.Stylebtn:hover {
    background-color: orangered;
    box-shadow: 0 0 15px orangered;
    transform: scale(1.1);
}